
li{
    list-style: none;
    text-align: center;
    margin-bottom: 5px;
}

.list-head {
    font-weight: bold;
}

.strike {
    text-decoration: line-through;
}


.list-column-1 {
    border: none solid black;
    padding-left: 10px;
}

.column-1{
    width: 25%;
    float: left;
}


.list-column-2 {
    border:  none solid black;
    padding-left: 10px;

}

.column-2{
    width: 25%;
    float: left;
}



.list-column-3 {
    border: none solid black;
    padding-left: 10px;
}

.column-3{
    width: 25%;
    float: left;
}


/* .list-column-4 {
    border:  solid black;
    padding-left: 10px;
}

.column-4{
    width: 22%;
    float: left;
} */


.list-column-5 {
    border: none solid black;
    padding-left: 10px;

}

.column-5{
    width: 25%;
    float: right;
}

li:nth-child(3n){
    background-color: lightblue;
}

li:nth-child(3n+1){
    background-color: lightgray
}

li:nth-child(3n+2){
    background-color: lightgreen
}
